*{ 
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.titulosH {
    font-weight: bolder;
    font-size: 2rem;
}
 .navbar-brand{ font-size: 120%; 
    color: white;
}

.botonNav {
    font-size: 120%; 
    color: white;}

.botonNav:hover { 
    color: white;
    border: red 2px solid;
    background-color: brown;
    font-size: 130% ;
    margin: 5px;
    padding: 7px;

}

header {background-color: black;}


/*INDEX.HTML*/

.fondoImagen{
    background-image: url(../img/franja2.jpg);
}

.fotoclubriver {
   width: 700 px;
   height: 300px;}

   .escudoLogo {
    width: 75px;;
    height: 75px;
   }

   .piePagina { 
    list-style-type: none;
   }

/* titulos barra navegadora*/
.titulos{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}

/* PLANTEL PROFESIONAL */
 .card {
    margin: 1rem;
    text-align: center;
    font-weight: bold;
 }
 .card{box-shadow: 3px 3px 3px 3px gray;}

/* NOTICIAS */
.imgLanzini{
    width: 350px;
    height: 400px;
}

.fotoMonumental {
    width: 700px;
    height: 400px;
}

/* ESTADIO */

.museoRiver{
    background-color: brown;
    color: white;
}

 .bottonCompra {
    background-color: brown;
    color: white; 
    border: red 1px solid
 }

 .bottonCompra:hover {
    background-color: red;

 }

 .formulario{
    margin: 1rem;
 }