*{ 
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.titulosH {
    font-weight: bolder;
    font-size: 25px;
}

main ul li {
    display: inline;
}

main ul li{
background-color: gainsboro;
border: black 1px solid;
margin: 5px;
padding: 3px;
}

.subrayado{
    text-decoration: none;
    color: black;
}

/*INDEX.HTML*/
.barraNavegadora{
list-style-type: none;
text-transform: uppercase;
}

.fotoclubriver {
   width: 700 px;
   height: 300px;}

   .escudoLogo {
    width: 75px;;
    height: 75px;
   }

   .piePagina { 
    list-style-type: none;
   }

/* titulos barra navegadora*/
.titulos{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}

/* PLANTEL PROFESIONAL */
.plantel {
    list-style-type: none;
       }

.cajaJugador {
margin: 20px 30px 20px 20px;

}

.posiciones {
    font-size: 25px;
    font-weight: lighter;
}

.fotojugadores {
    width: 100px;
    height: 140px;
}

.usoDisplay{
    display: inline;
}
/* NOTICIAS */
.lanziniFoto {
    width: 250px;
    height: 300px;
}

.fotoMonumental {
    width: 700px;
    height: 400px;
}