@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");
/* variables colores*/
/*tipografia*/
/* textos*/
/*mixins*/
* {
  line-height: 20px;
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(24, 22, 22);
}
header .escudoLogo {
  width: 75px;
  height: 75px;
}
header .navbar-brand {
  font-size: 120%;
  color: white;
}
header .botonNav {
  font-size: 120%;
  color: white;
}
header .botonNav:hover {
  color: white;
  border: rgb(236, 7, 7) 2px solid;
  background-color: rgb(167, 8, 8);
  font-size: 130%;
  margin: 5px;
  padding: 7px;
}

.titulosH {
  color: rgb(236, 7, 7);
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1 rem;
}

/*Error 404*/
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.contenedor {
  position: relative;
  height: 100vh;
}

.img404 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textoError {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  text-align: center;
  color: rgb(167, 8, 8);
}

.error404 {
  font-size: 1.5em;
  color: rgb(236, 7, 7);
  text-decoration: none;
  border: 2px solid rgb(167, 8, 8);
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.error404:hover {
  background-color: rgb(167, 8, 8);
  color: rgb(24, 22, 22);
}

.fondoImagen {
  background-image: url(../img/franja2.jpg);
}

.textAlinear {
  text-align: justify;
  padding-left: 30%;
  padding-right: 3%;
}

.imagenFlotante, .imagenFlotante2 {
  float: left;
  margin: 20px;
  max-width: 500px;
  height: auto;
}

@media (max-width: 767px) {
  .imagenFlotante, .imagenFlotante2 {
    width: 100%;
    height: auto;
  }
}
.imagenFlotante2 {
  float: right;
}

.fotoclubriver {
  display: block;
  margin: 0 auto;
  width: 700 px;
  height: 300px;
}

.contenedorPrincipal {
  overflow-x: hidden;
}

@media (min-width: 1025px) {
  .contenedorJugadores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 500px;
  }
}
.posiciones {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  margin: 1rem;
  text-align: center;
  font-weight: bold;
  box-shadow: 3px 3px 3px 3px gray;
  margin: 10px;
}

.cuadro {
  margin: 25px;
}

.descuentoCartel {
  background-color: rgb(167, 8, 8);
  color: white;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/*animacion*/
@keyframes quince {
  from {
    transform: translateX(-65%);
  }
  to {
    transform: translateX(65%);
  }
}
.animacionCartel {
  white-space: nowrap;
  overflow: hidden;
  animation: quince infinite 15s linear;
}

.cajasTienda {
  background-color: rgb(227, 233, 231);
  height: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.botonCompra {
  padding: 10px 20px;
  text-align: center;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.botonCompra {
  color: black;
  background-image: linear-gradient(to right, white, rgb(236, 7, 7));
  border: rgb(167, 8, 8);
  background-size: 150% 100%;
  transition: background-position 1s;
}
.botonCompra:hover {
  background-position: 75% 0%;
}

.titulosNoticias {
  font-family: Roboto;
}

.imgLanzini {
  width: 350px;
  height: 400px;
}

.fotoMonumental {
  width: 700px;
  height: 400px;
}

.parrafo {
  font-family: Roboto;
  font-size: 1em;
  line-height: 2em;
  color: black;
  padding: 10px;
}

@media (max-width: 767px) {
  .videoRiver {
    width: 100%;
    height: auto;
  }
}
.museoRiver {
  background-color: rgb(167, 8, 8);
  color: white;
}

.bottonCompra {
  background-color: rgb(167, 8, 8);
  color: white;
  border: rgb(236, 7, 7) 1px solid;
}
.bottonCompra:hover {
  background-color: rgb(236, 7, 7);
}

.formulario {
  margin: 1rem;
}

/*# sourceMappingURL=main.css.map */
