.parrafo {
   @include texto(1em, 2em, black, 10px)
}

@media (max-width: 767px) {
   .videoRiver {
       width: 100%; /* Hace que el video ocupe el 100% del ancho en dispositivos móviles */
       height: auto; }  } 

.museoRiver{
    background-color: $otroColor;
    color: $colorTerciario;
}

 .bottonCompra {
    background-color: $otroColor;
    color: $colorTerciario; 
    border: $colorSecundario 1px solid;
    &:hover{background-color: $colorSecundario;
    }
 }

 .formulario{
    margin: 1rem;
 }