* {
    line-height: 20px;
    font-family: $mainfonts;
    margin: 0;
    padding: 0;
}

header {
    background-color: $colorPrincipal;

    .escudoLogo {
        width: 75px;
        ;
        height: 75px;
    }

    .navbar-brand {
        font-size: 120%;
        color: $colorTerciario;
    }

    .botonNav {
        font-size: 120%;
        color: $colorTerciario;

        &:hover {
            color: $colorTerciario;
            border: $colorSecundario 2px solid;
            background-color: $otroColor;
            font-size: 130%;
            margin: 5px;
            padding: 7px;
        }

    }

}

.titulosH {
    color: $colorSecundario;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1 rem;
}

/*Error 404*/

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.contenedor {
    position: relative;
    height: 100vh;
}

.img404 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textoError {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
    color: $otroColor;
}

.error404 {
    font-size: 1.5em;
    color: $colorSecundario;
    text-decoration: none;
    border: 2px solid $otroColor;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    position: absolute;
    top: 10px;
    left: 10px;

    &:hover {
        background-color: $otroColor;
        color: $colorPrincipal;
    }
}